
<form method="post" asp-action="Szukaj" asp-controller="Home"> 
    <div class="df fs-11"
         style="width: 300px; height: 30px; box-shadow: 0 0 4px rgba(200,200,200,.5); border: 2px solid rgb(220,220,220)">     
        <input name="q" class="form-control fs-11 ml-6 mr-6 w-100"
               style="border: none; outline: none;"/>
        <input type="submit" value="szukaj" class="btn btn-primary fs-11"
               style="border: none; background-color: firebrick; color: white; padding: 0px 10px;"/>
    </div>
</form>