@model Client

<h5 class="mb-10">Czy na pewno chcesz usunąć wskazaną pozycję?</h5>

<form method="post" asp-action="Delete" asp-controller="Clients">
    <div class="df">
        <a asp-area="Admin" asp-action="Index" asp-controller="Clients" class="editButton mr-6">Nie</a>
        <input type="submit" value="Tak" class="deleteButton" />
    </div>
</form>
