
<div class="df">
    <div class="w-250px">
        <div class="w-250px db">
            <partial name="_leftNavigationLogin" />
        </div>
    </div>

    <div>
        right
    </div>
</div>