@model HomeViewModel

<div class="df">
    <div class="w-250px">
        <div class="w-250px">  
            <form method="post" asp-action="CategoryDetails" asp-controller="Home">
                <input type="hidden" asp-for="CategoryId" />

                <partial name="_leftNavigation" model="@Model" />
            </form>
        </div>
    </div>

    <div>
        <partial name="_products" model="@Model" />
    </div>
</div>
