@model Subcategory

<div class="fs-16 b mb-10">Tworzenie nowej subsubkategorii</div>

<form method="post" asp-action="Edit" asp-controller="Subsubcategories">
    <div asp-validation-summary="ModelOnly" class="c-red"></div>

    <input type="hidden" asp-for="SubcategoryId" />


    <table cellpadding="0" cellspacing="0" class="w-100">
        <tr>
            <td class="categoryName">
                <span>Nazwa kategorii</span>
            </td>
            <td class="categoryInput">
                <input asp-for="Name" />
                <span asp-validation-for="Name" class="c-red"></span>
                <span class="c-red">@ViewData["Error"]</span>
            </td>
        </tr>
        <tr>
            <td class="categoryName">
                <span>Wyświetlana nazwa kategorii</span>
            </td>
            <td class="categoryInput">
                <input asp-for="FullName" />
                <span asp-validation-for="FullName" class="c-red"></span>
            </td>
        </tr>
        <tr>
            <td class="categoryName">
                <span>Nazwa kategorii</span>
            </td>
            <td class="categoryInput">
                <select asp-for="SubcategoryId" asp-items="ViewBag.subcategoriesIdList"></select>
                <span asp-validation-for="SubcategoryId" class="c-red"></span>
            </td>
        </tr>
    </table>
    <div class="df-sb mt-20">
        <a asp-action="Index" asp-controller="Subsubcategories" class="b buttonAction">Back</a>
        <input type="submit" value="Zapisz" class="b buttonAction" />
    </div>
</form> 